$primaryFont: 'Open Sans', sans-serif;

$white: #fff;
$grey: #ccc;
$darkGrey: #aaa;
$hoverGrey: #343444;
$columnBackground: #f3f3f3;
$evenColumnBackground: #e9e9e96b;
$headerBackground: #343434;

$boxShadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 2px 4px;
